<header class="sticky top-2 z-50 bg-[var(--color-secondary)] px-4 py-3 md:px-[20px] md:py-[10px] rounded-2xl overflow-visible backdrop-blur mx-2 shadow-lg">
  <!-- Desktop Navbar -->
  <div class="hidden md:flex justify-between items-center">
    <!-- Logo -->
    <div class="logo">
      <img src="../../../assets/img/logo.png" class="w-[100px]" alt="Logo" />
    </div>

    <!-- Nav + Button -->
    <div class="flex items-center">
      <nav class="mr-9">
        <ul class="flex gap-6 text-sm text-[var(--color-text-secondary)]">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>

      <button type="button" class="sign-in flex items-center py-1.5 px-3 rounded-full text-sm" (click)="openSignin()">
        <span class="btn-image w-[24px]">
          <img src="../../../assets/img/btn-image.png" alt="Icon" />
        </span>
        <span class="btn-text ml-2">Sign In</span>
      </button>
    </div>
  </div>

  <!-- Mobile Navbar -->
  <div class="flex justify-between items-center md:hidden">
    <!-- Hamburger -->
    <button type="button" aria-label="Open menu" title="Open menu" (click)="toggleMobileMenu()" class="text-[var(--color-text-secondary)]">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>

    <!-- Logo -->
    <img src="../../../assets/img/logo.png" class="w-[90px]" alt="Logo" />
  </div>

  <!-- Mobile Drawer -->
  <div *ngIf="isMobileMenuOpen" [ngClass]="{ 'slide-down': isMobileMenuOpen, 'slide-up': !isMobileMenuOpen }" class="absolute top-full left-0 w-full bg-[var(--color-secondary)] shadow-lg mt-2 rounded-xl p-4 z-50">
    <nav class="flex flex-col gap-4 text-[var(--color-text-secondary)] text-sm">
      <a href="#" class="hover:text-[var(--color-text-primary)]">Home</a>
      <a href="#" class="hover:text-[var(--color-text-primary)]">About Us</a>
      <a href="#" class="hover:text-[var(--color-text-primary)]">Contact Us</a>
    </nav>

    <!-- Divider -->
    <div class="border-t my-4"></div>

  <!-- Mobile Sign In Button -->
   <div class="flex justify-center items-center">
  <button
    type="button"
    class="flex items-center justify-center gap-2 bg-[var(--color-button-fill-secondary)] text-[var(--color-text-primary)] py-2 px-4 rounded-full text-sm"
    (click)="openSignin()"
  >
    <img src="../../../assets/img/btn-image.png" alt="Icon" class="w-[20px] h-[20px]" />
    <span>Sign In</span>
  </button>
   </div>
  </div>
</header>
