<div class="flex flex-col justify-center items-center md:py-10 py-4">
    <!-- GIF TO BE REPLACED -->
    <img src="../../../../../../assets/gif/payment-gateway.gif" class=" h-28" alt="payment-gif" />
    <div class="flex flex-col justify-center items-center text-center gap-1 mt-4">
        <span class="font-bold text-[14px] md:text-[18px] text-[var(--color-text-primary)]">Payment Gateway</span>
        <span class="text-[12px] md:text-[14px] text-[var(--color-text-primary)]">Here we have to show the payment process as a popup</span>
    </div>
    <div class="flex justify-center items-center gap-4 mt-6">
        <button class="button-outline">
            <mat-icon>cancel</mat-icon>
            <span class="button-text">Cancel</span>
        </button>
        <button class="button-fill">
            <mat-icon>done</mat-icon>
            <span class="button-text">Done</span>
        </button>
    </div>
</div>