<div class="mb-6 w-full p-4 bg-[var(--color-secondary)] border border-[var(--color-border)] rounded-lg shadow-sm sm:p-8">
    <h1 class="!text-[var(--color-text-primary)] !mb-[5px] !font-[600] !text-[18px]">{{ termsAndCondition?.title }}</h1>
    <div class="content-container"[innerHTML]="termsAndCondition?.term_condition_english"></div>
  
    <div class="flex items-center mt-2" [formGroup]="formGroup">
      <mat-checkbox color="primary" formControlName="terms_and_conditions">
        I have read and accept all the above terms and conditions.
      </mat-checkbox>
    </div>
  </div>
  