::ng-deep .locked-steps .mat-step-header:nth-child(n+2) {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }

::ng-deep button:disabled {
    pointer-events: none;
    background-color: #908d8d;
  }